[submodule "f1tenth_drivers/bno055"]
	path = f1tenth_drivers/bno055
	url = https://github.com/flynneva/bno055.git
[submodule "f1tenth_drivers/realsense-ros"]
	path = f1tenth_drivers/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "f1tenth_drivers/urg_node2"]
	path = f1tenth_drivers/urg_node2
	url = https://github.com/ros-drivers/urg_node.git
[submodule "f1tenth_drivers/vesc_interface"]
	path = f1tenth_drivers/vesc_interface
	url = https://github.com/f1tenth/vesc.git
[submodule "f1tenth_system/particle_filter"]
	path = f1tenth_system/particle_filter
	url = https://github.com/f1tenth/particle_filter
[submodule "f1tenth_system/range_libc"]
	path = f1tenth_system/range_libc
	url = https://github.com/kctess5/range_libc

