[submodule "f1tenth_drivers/vesc_interface"]
	path = f1tenth_drivers/vesc_interface
	url = https://github.com/f1tenth/vesc.git
[submodule "f1tenth_drivers/bno055"]
	path = f1tenth_drivers/bno055
	url = https://github.com/flynneva/bno055.git
